{% extends 'base.html.twig' %}

{% block title %} Welcome to MST {% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center">Welcome to my School Tutors Learning platform </h1>
</div>
{% endblock %}